

body 
{
    background-color: #f8f7cf;
    /* width: 100%;
    height: 100vh;
    font-family: 'Poppins'; */
}

/* Titles */
.title{
    margin: 20px 430px 20px 430px;
    font-weight: 2000;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #cff7fc;
}
/* Paragraph Text */
p {
    
    font-family: "Monaco", "Courier New", monospace;
    
}

a:link { 
    text-decoration: none; 
}

a:visited { 
    text-decoration: none; 
    color: black; 
   }

.footnote{
    color : black;
    text-align: center;
    font-family: "Monaco", "Courier New", monospace;
    background-color: #cff7fc;
}

.topnav{
    padding-top: 75px;
    padding-right: 20px;
    padding-bottom: 75px;
    padding-left: 20px;
    text-align: center;
    font-family: "Monaco", "Courier New", serif;
    background-color: #cff7fc;
}

.nav-element{

    padding-top: 20px;
    padding-right: 65px;
    padding-bottom: 20px;
    padding-left: 65px;
    border-radius: 20%;
    background-color: white;
    border-top-color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.7s ease;
}

.nav-element:hover{
    background-color: #f8f7cf;
}


.nav-element-home{
    padding-top: 10px;
    padding-right: 65px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.7s ease;
}
.nav-element-home:hover{
    background-color: #f8f7cf;
}

.img-element{
    border-radius: 29%;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    
}


body{
    opacity: 0;
    transition: opacity 1s;
}

*{
margin:0;
padding: 0;
box-sizing: border-box;
}

h1{
    background-color: #cff7fc;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Monaco", "Courier New", monospace;
}


.input{
text-align: center;
margin: 100px auto;
}


/* The input text styling */
.input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #cff7fc;
    border: none;
    border-radius: 20px;
    font-family: "Monaco", "Courier New", serif;
    font-weight:bold;
    font-size: 20px;
    }

/* Styling for the submit button */
input[type="submit"]{
padding: 15px 30px;
background: #cff7fc;
border: none;
border-radius: 20px;
font-family: "Monaco", "Courier New", serif;
font-weight:bold;
font-size: 19px;
}


/* Card styling */
.card{
width: 50%;
background: #e7e7e7;
height: 40vh;
margin: 50px auto;
border-radius: 2px;
}


.close{
float: right;
margin-top: -2px;
cursor: pointer;
margin-right: 20px;
}

/*Name of city in the card styling */
.card h1{
padding: 3px 0;
text-align: center;
}
/* The temperatire and desc styling */
.card p{
text-align: center;
margin:20px 0;
font-size:20px;
}

.copyright{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Customer Card styling */
.card{
    background-color: #cff7fc;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 3px 50px grey;
    position: relative;
}

/* Styling on the image */

.img-card{
    width : 100px;
    height : 100px;
    margin-bottom: 1px;
}






.btn:hover{
    background-color: white;
    color: lightblue;
}


.foot-element{

    padding-top: 20px;
    padding-right: 65px;
    padding-bottom: 20px;
    padding-left: 65px;
    border-radius: 20%;
    background-color: white;
    border-top-color: black;
    font-size: 15px;
    font-weight: bold;
}

.footnote{
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    text-align: center;
    font-family: "Monaco", "Courier New", serif;
    background-color: #cff7fc;
}